*{
    margin: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.bg-img{
    background-image: url(/images/beachshowcase.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    line-height: 4em;
}
.text-img{
    padding-top: 30vh;
    font-size: 18px;
    color: #926239;
}
.text-img > a{
    color: #926239;
    background-color: inherit;
    font-size: 20px;
    margin-top: 25px;
    border-radius: 15px;
    border: 2px solid;
    padding: 15px;
    text-decoration: none;
}
.text-img > h1{
    font-size: 40px;
}
.text-align{
    text-align: center;
}
.text-content{
    font-size: 17px;
    line-height: 1.5em;
    height: 100%;
    padding: 15px 10px;
}
.bg-color-gold{
    background-color: #926239;
    color: white;
}
.bg-color-white{
    background-color: white;
    color: #926239;
}
.conteiner{
    display: flex;
}
.conteiner-box{
    max-height: 100%;
    max-width: 33.3%;
    box-sizing: border-box;
}